.root {
	display: flex;
	position: relative;
	flex-direction: column;
  background: var(--primary-bg);
  border-radius: 15px;
  width: 100%;
	overflow: hidden;
	box-shadow: 0 6px 12px -2px rgba(50,50,160,0.25),0 3px 7px -3px rgba(0,0,0,0.3);
}

.container {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 10px;
	padding: 20px;
}

.started {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	color: white;
	background: var(--accent-bg);
	border: 2px solid var(--accent-b);
	padding: 5px 10px;
	text-transform: uppercase;
	border-radius: 8px;
	font-weight: 700;
}

.header > h3 {
	color: var(--accent-bg);
}

.header > span {
	color: var(--secondary-text);
	font-size: 0.9rem;
}

.description {
	margin: 20px 0px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
}

.wrapper > h4 {
	color: var(--accent-b);
}

.wrapper > span {
	color: var(--secondary-text);
}

.alert {
	position: absolute !important;
	color: var(--red-9);
	right: 0;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
	border-radius: 50%;
	transition-duration: 0.2s;
}

.alert:hover {
	background: var(--secondary-bg)
}

.link {
	display: flex;
	flex-direction: column;
	text-decoration: none;
}
