.root {
  display: flex;
  position: relative;
  height: 100%;
  flex-grow: 1;
  --left-nav-width-collapsed: 75px;
  --left-nav-width-expanded: 240px;
  --left-nav-width: var(--left-nav-width-collapsed);
  width: var(--left-nav-width-collapsed);
  transition: width 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 1;
}

.root[data-hover-expand="true"]:hover:not([data-expanded="true"]) {
  --left-nav-width: var(--left-nav-width-expanded);
  --nav-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
}

.root[data-expanded="true"] {
  --left-nav-width: var(--left-nav-width-expanded);
  width: var(--left-nav-width);
  /* --nav-shadow: 0px 10px 38px -10px hsl(206 22% 7% / 35%), 0px 10px 20px -15px hsl(206 22% 7% / 20%); */
}

.wrapper {
  width: var(--left-nav-width);
  height: 100%;
	padding: 0;
  background: var(--primary-bg);
  /* border-radius: 16px; */
  display: flex;
  flex-direction: column;
  box-shadow: var(--nav-shadow);
  transition: box-shadow 0.3s ease-in-out, width 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}

.wrapper[data-expand="left"] {
  right: 0;
  /* border-left: 2px solid var(--mauve-6); */
}

.wrapper[data-expand="right"] {
  left: 0;
  /* border-right: 2px solid var(--mauve-6); */
}

.list {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
	/* gap: 10px; */
  list-style: none;
  padding: 30px 10px 20px 0px;
}

.collapse {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	flex-direction: row;
  padding: 10px 20px;
  border: none;
  color: var(--text);
  /* border-top: 2px solid var(--tertiary-bg); */
  background: var(--primary-bg);
  cursor: pointer;
  transition-duration: 0.2s;
	font-size: 1rem;
}

.collapse > svg {
	overflow: visible;
}

.collapse > span {
	overflow: hidden;
}

/* .collapse:hover {
  background: var(--mauve-11);
} */

/* .wrapper[data-expand="left"] > .collapse {
  border-bottom-left-radius: 16px;
}

.wrapper[data-expand="right"] > .collapse {
  border-bottom-right-radius: 16px;
} */

.listItem {
  display: flex;
	gap: 20px;
  border-radius: 0px 16px 16px 0px;
	padding: 10px 20px;
	align-items: center;
	/* transition-duration: 0.3s; */
	transition: all 300ms ease-in-out;
	border: 2px solid transparent;
	background:transparent;
	border-left: none;
	color: var(--text);
  text-decoration: none;
	cursor: pointer;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: 700;
	z-index: 2;
	white-space: nowrap;
}

.listItem > span {
	overflow: hidden;
}

.listItem > svg {
	overflow: visible;
}

.listItem[data-state="open"] {
	color: white;
}

/* .listItem:hover {
  background: var(--accent-bg);
	border: 2px solid var(--accent-b);
	border-left: none;
	color: white;
}
*/

/* .active {
	background: var(--accent-bg);
	border: 2px solid var(--accent-b);
	color: white;
	border-left: none;
} */

.indicator {
  display: flex;
	position: relative;
  justify-content: center;
	width: 100%;
  overflow: hidden;
	width: 200px;
	pointer-events: none;
	z-index: 1;
	background: var(--accent-bg);
	border-radius: 0px 12px 12px 0px;
  transition: width, transform 250ms ease;
	border: 2px solid var(--accent-b);
	border-left: none;
}

.indicator[data-state='visible'] {
  animation: fadeIn 200ms ease;
}

.indicator[data-state='hidden'] {
  animation: fadeOut 200ms ease;
}

.arrow {
  position: relative;
  background: black;
	z-index: 100;
	width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-top-left-radius: 2px;
}


@keyframes enterFromRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enterFromLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exitToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(200px);
  }
}

@keyframes exitToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-200px);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: rotateX(-30deg) scale(0.9);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
  to {
    opacity: 0;
    transform: rotateX(-10deg) scale(0.95);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
