.root {
  display: flex;
  position: relative;
  height: 100%;
  flex-grow: 1;
  --left-nav-width-collapsed: 75px;
  --left-nav-width-expanded: 240px;
  --left-nav-width: var(--left-nav-width-collapsed);
  width: var(--left-nav-width-collapsed);
  transition: width 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 1;
}

.root[data-hover-expand="true"]:hover:not([data-expanded="true"]) {
  --left-nav-width: var(--left-nav-width-expanded);
  --nav-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
}

.root[data-expanded="true"] {
  --left-nav-width: var(--left-nav-width-expanded);
  width: var(--left-nav-width);
  /* --nav-shadow: 0px 10px 38px -10px hsl(206 22% 7% / 35%), 0px 10px 20px -15px hsl(206 22% 7% / 20%); */
}

.wrapper {
  position: absolute;
  width: var(--left-nav-width);
  height: 100%;
  background: var(--primary-bg);
  /* border-radius: 16px; */
  display: flex;
  flex-direction: column;
  box-shadow: var(--nav-shadow);
  transition: box-shadow 0.3s ease-in-out, width 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}

.wrapper[data-expand="left"] {
  right: 0;
  /* border-left: 2px solid var(--mauve-6); */
}

.wrapper[data-expand="right"] {
  left: 0;
  /* border-right: 2px solid var(--mauve-6); */
}

.list {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
	gap: 10px;
  list-style: none;
  padding: 30px 10px 20px 0px;
}

.collapse {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	flex-direction: row;
  padding: 10px 20px;
  border: none;
  color: var(--text);
  /* border-top: 2px solid var(--tertiary-bg); */
  background: var(--primary-bg);
  cursor: pointer;
  transition-duration: 0.2s;
	font-size: 1rem;
}

.collapse > svg {
	overflow: visible;
}

.collapse > span {
	overflow: hidden;
}

/* .collapse:hover {
  background: var(--mauve-11);
} */

/* .wrapper[data-expand="left"] > .collapse {
  border-bottom-left-radius: 16px;
}

.wrapper[data-expand="right"] > .collapse {
  border-bottom-right-radius: 16px;
} */

.listItem {
  display: flex;
	gap: 20px;
  border-radius: 0px 16px 16px 0px;
	padding: 10px 20px;
	align-items: center;
	transition-duration: 0.2s;
	border: 2px solid transparent;
	border-left: none;
	color: var(--text);
  text-decoration: none;
	cursor: pointer;
	overflow: hidden;
	text-transform: uppercase;
	font-weight: 700;
	white-space: nowrap;
}

.listItem > span {
	overflow: hidden;
}

.listItem > svg {
	overflow: visible;
}

.listItem:hover {
  background: var(--accent-bg);
	border: 2px solid var(--accent-b);
	border-left: none;
	color: white;
}

.active {
	background: var(--accent-bg);
	border: 2px solid var(--accent-b);
	color: white;
	border-left: none;
}

