.root {
	display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.header {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 20px;
	border-bottom: 2px solid var(--tertiary-bg);
	justify-content: space-between;
	align-items: center;
}

.wrapper {
	display: flex;
	flex: 1;
	padding: 20px;
	gap: 60px;
	flex-direction: column;
}

.listHeader {
	display: flex;
	flex-direction: column;
}

.listHeader > p {
	color: var(--secondary-text);
	font-size: 0.9rem;
	margin: 0;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex: 1;
}

.events {
	display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px) );
	grid-template-rows: repeat(auto-fit, 375px);

}
