.root {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px) );
	padding: 20px;
}

.header {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 20px;
	border-bottom: 2px solid var(--tertiary-bg);
	justify-content: space-between;
	align-items: center;
}
