.root {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--indigo-9);
	border: 2px solid var(--indigo-11);
	padding: 8px 12px;
	border-radius: 12px;
	gap: 5px;
	cursor: pointer;
	color: white;
	font-size: 0.9rem;
	text-decoration: none;
	transition-duration: 0.2s;
	text-transform: uppercase;
	font-weight: 700;
}

.root:hover {
	background: var(--indigo-10);
	transform: translateY(-2px);
	box-shadow: var(--card-small);
}

.root:active {
	transform: translateY(2px);
}

.root:focus {
	transform: translateY(-2px);
	box-shadow: var(--card-small);
}

.green {
	background: var(--green-9);
	border: 2px solid var(--green-11);
}

.green:hover {
	background: var(--green-10);
}

.secondary {
	color: var(--text);
	background: var(--white);
	border: 2px solid var(--border);
}

.secondary:hover {
	color: var(--text);
	background: var(--primary-bg);
	border: 2px solid var(--border);
}

.spin {
	animation: spin 1s linear infinite;
	color: rgba(255,  255, 255, 0.7);
	opacity: 1;
	fill: transparent;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
