.root {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--indigo-9);
	border: 2px solid var(--indigo-11);
	padding: 6px 20px;
	border-radius: 12px;
	gap: 5px;
	cursor: pointer;
	color: white;
	font-size: 0.9rem;
	transition-duration: 0.2s;
	box-shadow: var(--card-small);
	text-transform: uppercase;
	font-weight: 700;
}

.root:hover {
	background: var(--green-10);
	transform: translateY(-2px);
}

.root:active {
	transform: translateY(2px);
}

.green {
	background: var(--green-9);
	border: 2px solid var(--green-11);
}

.green:hover {
	background: var(--green-10);
}


.secondary {
	color: var(--text);
	background: var(--white);
	border: 2px solid var(--border);
}

.secondary:hover {
	color: var(--text);
	background: var(--primary-bg);
	border: 2px solid var(--border);
}
