.root {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--indigo-9);
	border: 2px solid var(--indigo-11);
	padding: 5px 20px;
	border-radius: 12px;
	cursor: pointer;
	color: white;
	font-size: 1rem;
	transition-duration: 0.2s;
	/* box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px; */
}

.root:hover {
	background: var(--indigo-10);
	transform: translateY(-2px);
}

.root:active {
	transform: translateY(2px);
}
