.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.wrapper {
	display: grid;
	grid-template-columns: minmax(250px, 1fr) minmax(350px, 3fr);
	grid-template-rows: 1fr;
	padding: 20px;
	flex-grow: 1;
	overflow: auto;
	gap: 20px;
}

.header {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 20px;
	border-bottom: 2px solid var(--tertiary-bg);
	justify-content: space-between;
}

.message {
	display: flex;
	flex-direction: column;
	color: var(--primary-bg);
	gap: 5px;
	width: 100%;
	font-weight: 700;
	justify-self: flex-start;
}

.messageContent {
	padding: 10px;
	background: var(--slate-11);
	border: 2px solid var(--slate-12);
	color: white;
	border-radius: 16px;
	border-top-left-radius: 8px;
	width: fit-content;
}

.selfMessageContent {
	background: var(--accent-bg);
	border: 2px solid var(--accent-b);
}

.message > h4 {
	color: var(--text);
	margin: 0;
}

.messageContent > p {
	margin: 0;
}

.messageHeader {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 10px;
	width: 100%;
	align-items: center;
}

.messageHeader > div {
	font-weight: 500;
	font-size: 0.8rem;
	color: var(--secondary-text);
}

.window {
	display: flex;
	flex-direction: column;
	border: 2px solid var(--tertiary-bg);
	border-radius: 16px;
	overflow: hidden;
	padding: 10px;
}

.windowHeader {
	display: flex;
	flex-direction: column;

	justify-self: flex-start;
	font-weight: 700;
	gap: 10px;
	border-bottom: 2px solid var(--tertiary-bg);
}

.windowHeader > a {
	display: flex;
	align-items: center;
	font-size: 1rem;
	font-weight: 500;
	color: var(--white);
	background: var(--accent-bg);
	border-radius: 6px;
	justify-content: center;
	padding: 2px;
}

.chatList {
	display: flex;
	position: relative;
	flex: 1;
	padding: 20px 0px;
	flex-direction: column;
	overflow: hidden;
}

.chatContent {
	display: grid;
	gap: 10px;
	padding: 0px 15px;
	overflow: auto;
}

.ownMessage {
	display: flex;
	align-items: flex-end;
	justify-self: flex-end;
}

.rooms {
	display: flex;
	flex-direction: column;
	border: 2px solid var(--tertiary-bg);
	padding: 10px;
	gap: 5px;
	overflow: auto;
	border-radius: 16px;
}

.roomHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px
}

.roomHeader > h2 {
	display: flex;
	align-items: center;
	gap: 10px;
}

.roomItem {
	display: flex;
	flex-direction: column;
	padding: 10px;
	border: 2px solid var(--tertiary-bg);
	color: var(--text);
	flex-basis: 100px;
	gap: 5px;
	text-decoration: none;
	transition-duration: 0.3s;
	border-radius: 16px;
}

.roomItem:hover {
	background: var(--accent-bg);
	border: 2px solid var(--accent-b);
	transform: translateY(-2px);
	box-shadow: var(--card-small);
	color: white;
}

.roomItem > p {
	font-size: 0.9rem;
	margin: 5px 0px;
}
.roomItem:hover > p {
	color: #e6ebf1 !important;
}

.active {
	background: var(--accent-bg);
	border: 2px solid var(--accent-b);
	color: white;
}

.roomItem > h3 {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 1rem;
	justify-content: flex-start;
	margin: 0;
}

.active > p {
	color: rgb(245, 245, 245) !important;
}

.roomItem > p {
	color: var(--secondary-text);
}

.inputForm {
	display: flex;
	flex-direction: row;
	gap: 20px;
	margin: 0px 10px 10px 10px;
	align-items: center;
	border: 2px solid var(--tertiary-bg);
	padding: 5px 10px 5px 20px;
	border-radius: 16px;
}

.input {
	background: var(--secondary-bg);
	flex: 1;
	border: none;
	outline: none;
	font-size: 1.1rem;
	color: var(--text);
}

.input::placeholder {
	color: var(--text);
	font-family: dinn;
}

.submit {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--tertiary-bg);
	border-radius: 50%;
	height: 24px;
	width: 24px;
	cursor: pointer;
	background: var(--secondary-bg);
	border: 2px solid var(--primary-bg);
	border: none;
	padding: 0;
}

.houseList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5px;
	overflow: hidden;
	margin: 5px 0px;
	overflow-x: auto;
}

.housePill {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--border);
	color: var(--text);
	border-radius: 16px;
	padding: 3px 6px;
	white-space: nowrap;
	font-weight: 500;
	font-size: 0.8rem;
	margin: 0;
	gap: 5px;
	transition-duration: 0.3s;
}

.activePill {
	border: 2px solid var(--accent-b);
	color: var(--white);
}


.roomItem:hover > div > span {
	transition-duration: 0.3s;
	border: 2px solid var(--accent-b);
	color: var(--white);
}

.formContent {
	display: flex;
	flex-direction: column;
	padding: 20px 0px;

}

.form {
  display: flex;
  width: 100%;
  width: 300px;
	gap: 20px;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 0;
	gap: 10px;
  outline: none;
  border: none;
}

.error {
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
	background: var(--red-9);
	border-radius: 6px;
	font-size: 0.8rem;
	padding: 2px 10px;
	color: white;
	border: 2px solid var(--red-11)
}
.error > div {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.error > div > ul {
	padding-left: 15px;
}

.error > svg {
	height: 20px;
}
