.root {
  display: flex;
  justify-content: space-between;
  height: 100%;
  background: var(--primary-bg);
  grid-area: header;
}

.root > h1 {
  display: inline-flex;
  line-height: 0;
  flex-direction: row;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 20px;
}

.actions {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  margin: 5px 0px;
}

.actions > a {
  background: var(--primary-bg);
  border: 2px solid var(--mauve-10);
  color: var(--text);
  padding: 5px 20px;
  border-radius: 12px;
  text-decoration: none;
}
