.root {
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template-columns: min-content 1fr;
	grid-template-rows: 70px calc(100vh - 70px);
	grid-template-areas:
	'header header'
	'. main';
}

.main {
  display: flex;
  position: relative;
	grid-area: main;
  width: 100%;
	flex-grow: 1;
	margin-bottom: 20px;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0px 15px;
  border-radius: 25px 0 0 25px;
  background: var(--secondary-bg);
}

.wrapper {
  display: flex;
	flex-direction: column;
  flex: 1;
  width: auto;
  height: auto;
  margin: 15px 0px;
  overflow-x: hidden;
  overflow-y: auto;
}
