.root {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 70px calc(100vh - 70px);
  grid-template-areas:
    "header header header"
    "left main right";
}

.main {
  display: flex;
  position: relative;
  grid-area: main;
  width: 100%;
  flex-grow: 1;
  margin-bottom: 20px;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  /* box-shadow: inset rgba(20, 20, 100, 0.2) 0px 0px 10px 0px; */
  /* border: 2px solid var(--tertiary-bg); */
  background: var(--secondary-bg);
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: auto;
  height: auto;
  /* padding: 10px; */
  overflow-x: hidden;
  overflow-y: auto;
}

.userList {
  display: flex;
  flex-direction: column;
	overflow: hidden;
}

.userList > h3 {
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: 1rem;
	padding: 10px 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.logout {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: flex-end;
}
.logout > a {
	border: 2px solid #e3e3e3;
	border-left: none;
}
