.root {
	display: grid;
	grid-template-columns: min-content 1fr;
}

.main {
	padding: 20px;
	border: 2px solid var(--mauve-6);
	border-radius: 16px;
	margin-right: 20px;
	margin-bottom: 20px;
	flex-grow: 1;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
