.root {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: auto;
}

.header {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 20px;
	border-bottom: 2px solid var(--tertiary-bg);
	justify-content: space-between;
	align-items: center;
	height: 40px;
}

.main {
	display: flex;
	flex: 1;
	padding: 20px;
	gap: 20px;
	flex-direction: column;
}

.hero {
	display: flex;
	flex-direction: column;
	flex: 1;
	border-radius: 18px;
	border: 2px solid var(--border);
	background: var(--primary-bg);
}
.background {
	display: flex;
	height: 175px;
	border-radius: 16px;
	background-image: linear-gradient(
		270.3deg,
		rgba(84, 212, 228, 1) 0.2%,
		rgba(68, 36, 164, 1) 100%
	);
	border-bottom: 2px solid var(--border);
}
.wrapper {
	display: flex;
	flex: 1;
	padding: 20px 20px;
}
.content {
	display: flex;
	flex-direction: column;
	padding: 0px 10px;
	/* gap: 10px; */
	flex: 1;
}

.content > h1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.content > p {
	display: flex;
	margin-top: 20px;
	flex: 1;
}

.events {
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex: 1;
}

.avatar {
	width: 128px;
	height: 128px;
	margin-top: -75px;
}
.avatar > span > span {
	border: 4px solid var(--primary-bg);
	font-size: 2rem;
}

.eventsWrapper {
	display: grid;
	gap: 15px;
	grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
	grid-template-rows: repeat(auto-fit, 375px);
}

.info {
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-size: 1rem;
}

.info > p {
	padding: 20px 0px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-self: center;
	max-width: 500px;
	margin: 20px 0px;
}

.formLabel {
	display: flex;
	gap: 10px;
	flex-direction: column;
}

.formLabel > textarea::placeholder {
	font-size: 1rem;
}

.switchLabel {
	display: grid;
	grid-template-columns: 2fr 2fr;
}

.switchRoot {
	width: 42px;
	height: 25px;
	background: var(--indigo-a7);
	border-radius: 9999px;
	position: relative;
	box-shadow: 0 2px 10px var(--black-a7);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	justify-self: flex-end;
}
.switchRoot:focus {
	box-shadow: 0 0 0 2px black;
}
.switchRoot[data-state='checked'] {
	background-color: var(--accent-bg);
}

.switchThumb {
	display: block;
	width: 21px;
	height: 21px;
	background-color: white;
	border-radius: 9999px;
	box-shadow: 0 2px 2px var(--black-a7);
	transition: transform 100ms;
	transform: translateX(2px);
	will-change: transform;
}
.switchThumb[data-state='checked'] {
	transform: translateX(19px);
}

.error {
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
	background: var(--red-9);
	border-radius: 6px;
	font-size: 0.8rem;
	padding: 2px 10px;
	color: white;
	border: 2px solid var(--red-11)
}
.error > div {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.error > div > ul {
	padding-left: 15px;
}

.error > svg {
	height: 20px;
}
