@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/gray-dark.css';
@import '@radix-ui/colors/blue-dark.css';
@import '@radix-ui/colors/green-dark.css';
@import '@radix-ui/colors/red-dark.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/slate.css';
@import '@radix-ui/colors/indigo.css';
@import '@radix-ui/colors/black-alpha.css';

@font-face {
  font-display: swap;
  font-family: 'dinn';
  src: url('/src/fonts/dinn-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'dinn';
  src: url('/src/fonts/dinn-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'dinn';
  src: url('/src/fonts/dinn-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

:root {
  font-family: dinn, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

	--text: #4B4B4B;
	--white: #fff;
	--secondary-text: rgb(119, 119, 119);
	--primary-bg: #f2f6fc;
	/* var(--mauve-8); */
	--secondary-bg: rgb(255,255,255);
	--tertiary-bg: rgb(229,229,229);

	/* var(--mauve-7); */
	--card-small: 0 6px 12px -2px rgba(50,50,160,0.25),0 3px 7px -3px rgba(0,0,0,0.3);
	--accent-bg: var(--indigo-9);
	--accent-b: var(--indigo-11);
	--border: #e3e3e3;

	color-scheme: light;
  color: var(--text);
	background: var(--primary-bg);
}
/* #f2f6fc; */
* {
	font-family: dinn, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	margin: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
